@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 193 100% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 81 100% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 193 100% 49%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headline text-dark-blue;
  }

  h1 { @apply text-4xl md:text-5xl lg:text-6xl font-extrabold tracking-tighter; }
  h2 { @apply text-3xl md:text-4xl font-bold tracking-tight; }
  h3 { @apply text-2xl md:text-3xl font-bold; }
  p, li, a { @apply text-base md:text-lg; }
}

.shadow-ocean {
  box-shadow: 0 10px 15px -3px hsl(193 100% 49% / 0.2), 0 4px 6px -4px hsl(193 100% 49% / 0.2);
}
